/* You can add global styles to this file, and also import other style files */
//@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
::-webkit-scrollbar {
    display: none;
}


html, body { height: 100%; width:100%; font-family:'Poppins', sans-serif;}


body {
	background-color: #c5daf4;
	background-image: url("./assets_scss/background.jpg");
  width:1920px;
}


@media only screen and (max-width: 865px) {
  body {
    width:865px;
  }
}
