.hurricane-main {
  background-image: url(../../../assets_scss/hurricane-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1vw;
  font-family: Roboto, sans-serif;
  height: 98vh;
}

.title {
  color: white;
  margin-top: -12px;
  font-size: 2.8vw;
  font-weight: bold;
}

.low {
  position: absolute;
  color: red;
  font-size: 8vw;
  text-shadow: 3px 3px black;
}

.high {
  position: absolute;
  color: blue;
  font-size: 8vw;
  text-shadow: 3px 3px black;
}

.temp-disabled {
  opacity: 0.2;
}

.hurricane-map {
  background-image: url(../../../assets_scss/hurricane-map.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.winds-overlay {
  opacity: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: inherit;
}

.instructions {
  background-color: #e0e7ec;
  width: 90%;
  padding: 0.5vw;
  font-size: 1.2vw;
  margin-top: 1vh;
}

.instructions-text {
  margin-bottom: 1vh;
}

.accordion {
  width: 93%;
  margin-top: 1.5vh;
}

.accordion-spacer {
  height: 0.2vh;
}

.toggle-winds {
  position: absolute;
  top: 92%;
  left: 2%;
  font-size: 1vw;
  .toggle-icon {
    color: white;
  }
  .control-button {
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    min-width: 0;
    line-height: 2vw;
  }
}

.controls {
  top: 85%;
  left: 65%;
  width: 34%;
  height: 14%;
  position: absolute;
  opacity: 0.9;
  background-color: #d8e1f0;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  .go-button {
    font-size: 3vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    min-width: 0;
    line-height: 4vw;
  }
  .control-button {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    min-width: 0;
    line-height: 1vw;
  }
}

.first-low {
  left: 14%;
  top: 11%;
}
.second-low {
  left: 34%;
  top: 11%;
}
.third-low {
  left: 13%;
  top: 33%;
}
.fourth-low {
  left: 33%;
  top: 33%;
}
.first-high {
  left: 53%;
  top: 18%;
}
.second-high {
  left: 67%;
  top: 18%;
}
.third-high {
  left: 51%;
  top: 40%;
}
.fourth-high {
  left: 65%;
  top: 40%;
}
